* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgb(135, 206, 235), rgb(175, 238, 238), rgb(135, 206, 235));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.titleSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.titleSpace > #rounds {
    font-size: 2.5em;
    font-family: monospace;
    font-weight: 700;
}

.titleSpace > #title {
    font-size: 3rem;
    font-weight: 800;
    font-family: sans-serif, cursive;
    text-shadow: 0px 0px 8px rgb(53, 53, 53);
}

.titleSpace > button {
    width: 125px;
    height: 36px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: sans-serif;
}

.titleSpace > button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(88, 100, 105)
}

.tableSpace {
    width: 600px;
    height: 600px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tableSpace > .cell {
    background-color: rgb(23, 129, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
    height: 33%;
    font-size: 10em;
    font-weight: 600;
    font-family: cursive;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#restartBtn, #resetBtn {
    background-color: rgb(88, 100, 105);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 4px;
    font-size: 1.3em;
    width: 170px;
}

#restartBtn:hover, #resetBtn:hover {
    cursor: pointer;
    box-shadow: 4px 0px 8px rgb(53, 53, 53);
}

.playerSelection {
    width: 500px;
    height: 550px;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -60px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#player {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: cursive;
}

#player > input {
    width: 215px;
    height: 25px;
    padding-left: 10px;
    border-radius: 10px;
}

.playerSelection > button {
    height: 25px;
    width: 125px;
    font-weight: 700;
    font-size: 1.25em;
}

.playerSelection > button:hover {
    box-shadow: 4px 0px 8px rgb(201, 201, 201);
    cursor: pointer;
}